*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.content{
    height:80vh
}

.register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}

/* Trnasactions styling */
.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 20px;
    box-shadow: 0 0 15px;
}